tools/dpa-tools/src/main/resources/xmlValidation/Article.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="article">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="administrativedata">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="articleid" minOccurs="1" maxOccurs="1"/>
              <xs:element type="xs:string" name="filename" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="metadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="source"  minOccurs="1" maxOccurs="1"/>
              <xs:element name="publishdate" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:totalDigits value="8"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="pages">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="page">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="pagefile" minOccurs="0" maxOccurs="1" nillable="false" />
                          <xs:element type="xs:string" name="sectionname"  minOccurs="0" maxOccurs="1" nillable="true" />
                          <xs:element name="sectionnumber" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="[a-zA-Z0-9]{1,3}" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element type="xs:string" name="pagename" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:integer" name="pagenumber"  minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="type"  minOccurs="1" maxOccurs="1"/>
              <xs:element name="links">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:anyURI" name="link" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="classification">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="term" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="subject"/>
                          <xs:element type="xs:string" name="value"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="journalists">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="journalist" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="content">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="headline"  minOccurs="1" maxOccurs="1"/>
              <xs:element type="xs:string" name="byline"  minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="bodytext"  minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>