tools/dpa-tools/src/main/resources/xmlValidation/PdfInfo.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pdfinfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="filename"  minOccurs="1" maxOccurs="1"/>
        <xs:element name="publishing">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="source" minOccurs="1" maxOccurs="1"/>
              <xs:element type="xs:string" name="edition" minOccurs="1" maxOccurs="1"/>
              <xs:element name="publishdate" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="\d{8}" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="positional">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="sectionname" minOccurs="0" maxOccurs="1"/>
              <xs:element name="sectionnumber" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[a-zA-Z0-9]"/>
                    <xs:length value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="pagename" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:integer" name="pagenumber" minOccurs="1" maxOccurs="1" nillable="true"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="content">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="text">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="raw"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="articles">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="article" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="filename"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>